set_io a_clk 38
set_io b_clk 39

set_io pll_clk 41
set_io pll_lock 42


set_io spi_clk 70
set_io spi_cs 71
set_io spi_si 68
set_io spi_so 67

set_io trig_in 49
set_io veto_in 52

set_io trig_out 55
set_io veto_out 56

set_io global_reset 94
set_io mem_swap_interrupt 64
